body {
    font-family: sans-serif;
    background-color: black;
    color: white;
    margin: 0;
}

header img{
    width: 150px;
    text-align: center;
}
header{
    text-align: center;
}



nav {
    background-color: black;
    padding: 30px;
    text-align: center;
    border-bottom: 1px solid #444;
}

.nav-link {
    text-decoration: none;
    color: white;
    margin: 0 20px;
    font-weight: bold;
    font-size: 18px;

}

h1 {
    text-align: center;
}

p {
    font-size: 20px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;


}

article {
    background-color: #2d2d2d;
    padding: 20px;
    border: 2px solid #444;
    border-radius: 10px;
    text-align: center;
    width: 400px;
    
}

.article-but {}

footer {}

footer a {}

footer p {}


.about{


}
div {
float: left;
width: 50%;
}
div h2{
    text-align: center;
    background-color: grey;
    border-radius: 30px;
}
